* {
  box-sizing: border-box;
}

.previews {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  &__new-label {
    width: 100px;;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: aquamarine;
  }
  .delete-btn {
    display: inline-block;
  }
}

.preview {
  width: 100px;
  height: 150px;
  border: solid 1px black;
}

