* {
  box-sizing: border-box;
}

// でかい箱
.previews {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  // ラベル
  &__new-label {
    width: 100px;
    height: 150px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
  }
  .delete-btn {
    display: inline-block;
  }
}

// プレビュー
.preview {
  width: 100px;
  height: 150px;
  border: solid 1px black;
}

.contents {
  display: flex;
}
